div {
    text-align: center;
}

div#role_content, div#build_content {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translateX(-50%) !important;
    position: absolute !important;
    padding: 12px 16px;
    background-color: white;
    border: 2px solid red;
}

div#role_content {
    width: 13%;
}

ul {
    list-style-position: inside;
    margin-top: 0%;
}

li {
    line-height: 1.5;
}

#h4_skills, #h4_desc, #h4_elem {
    margin-bottom: 0px;
}

#persona, #role, #trait, #skills {
    width: 50%;
    margin: auto;
}

#list_skill {
    margin: auto;
    padding-bottom: 2px;
    
}

#desc {
    width: 50%;
    margin: auto;
}

#element {
    width: 75%;
    margin: auto;
}

#list_desc, #list_elem {
    text-align: left;
    margin: auto;
}

#build {
    text-align: center;
    width: 70%;
    margin: auto;
}

.role_select {
    margin: auto;
}

ul[aria-labelledby="dropdownMenuButton1"] > li {
    text-align: center;
}

ul[aria-labelledby="dropdownMenuButton1"] {
    border: 2px solid red;
}

button {
    padding: 16px 32px;
    border-radius: 8px;
    cursor: pointer;
}

#role_content > span:hover {
    border: 2px solid red;
}